{% extends 'HomeBase.html' %}
{% block title %}References{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}
{% block icon %}{{ setting.icon.url }}{% endblock %}

{% block body %}
    {% include 'searchPopUp.html' %}

    <div class="ht__bradcaump__area bg-image--5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Referanslar</h2>
                        <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="/">Anasayfa</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">Referanslar</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-padding--lg bg--white">
        <div class="container">
            <div class="col-lg-12">
                {{ setting.references|safe }}
            </div>
        </div>
    </section>

{% endblock %}