<!-- Start Search Popup -->
<div class="brown--color box-search-content search_active block-bg close__top">
    <form id="search_mini_form" class="minisearch" action="search/" method="post">
        {% csrf_token %}
        <div class="field__search">
            <input type="text" name="query" placeholder="Buradan arama yapabilirsiniz">
            <input type="hidden" name="catid" value="0">
            <div class="action">
                <button type="submit" class="zmdi zmdi-search" ></button>
            </div>
        </div>
    </form>
    <div class="close__wrap">
        <span>close</span>
    </div>
</div>
<!-- End Search Popup -->