{% extends 'HomeBase.html' %}
{% block title %}Mekan Ekle{% endblock %}
{% block keywords %}Mekan Ekle{% endblock %}
{% block description %}Mekan Ekle{% endblock %}
{% block icon %}{{ setting.icon.url }}{% endblock %}
{% block head %}
{% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block body %}


    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Ekle veya Güncelle</h2>
                        <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="/">Anasayfa</a>
                            <span class="brd-separetor">/</span>
                            <a class="breadcrumb_item" href="/user/places">Mekanlarım</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">Ekle veya Güncelle</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Shop Page -->
    <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        <div class="container">
            <div class="row">

                {% include "User/profile_left_panel.html" %}

                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">

                                <p>
                                <h1>Mekan Bilgileri</h1></p>

                            </div>
                        </div>
                    </div>
                    <div class="tab__container">


                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:#d43f3a;font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form.media }}
                                {{ form.as_p }}
                            </fieldset>
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="Kaydet">
                            </div>
                        </form>
                    </div>

                </div>


            </div>
        </div>
    </div>


{% endblock %}