{% extends 'HomeBase.html' %}
{% block title %}Yorumlarım{% endblock %}
{% block keywords %}Yorumlarım{% endblock %}
{% block description %}Yorumlarım{% endblock %}
{% block icon %}{{ setting.icon.url }}{% endblock %}

{% block body %}


    <!-- Start Bradcaump area -->
    <div class="ht__bradcaump__area bg-image--5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Yorumlarım</h2>
                        <nav class="bradcaump-content">
                            <a class="breadcrumb_item" href="/">Anasayfa</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb_item active">Yorumlarım</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area -->
    <!-- Start Shop Page -->
    <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
        <div class="container">
            <div class="row">

                {% include "User/profile_left_panel.html" %}

                <div class="col-lg-9 col-12 order-1 order-lg-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">

                                <p>
                                <h1>Yorumlar</h1></p>

                            </div>
                        </div>
                    </div>
                    <div class="tab__container">

                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:#d43f3a;font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}

                    {% if comments %}
                        <table>

                            <tr>
                                <th>
                                    Resim
                                </th>
                                <th>
                                    Mekan
                                </th>

                                <th>
                                    Derecelendirme
                                </th>

                                <th>
                                    Konu
                                </th>

                                <th>
                                    Yorum
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Eylem
                                </th>
                            </tr>


                            {% for com in comments %}
                                <tr>
                                <td>
                                    <a href="/place/{{ com.place_id }}/{{ com.place.slug }}">
                                    <img  height="50" src="{{ com.place.image.url }}">
                                    </a>
                                </td>
                                    <td>

                                        <a href="/place/{{ com.place_id }}/{{ com.place.slug }}">
                                            <strong>{{ com.place.title }}</strong></a>
                                    </td>

                                    <td>
                                        {{ com.rate }}
                                    </td>

                                    <td>
                                        {{ com.subject }}
                                    </td>

                                    <td>
                                        {{ com.comment }}
                                    </td>
                                    <td>
                                        {{ com.status }}
                                    </td>
                                    <td>
                                            <ul class="cart__btn__list d-flex flex-wrap flex-md-nowrap flex-lg-nowrap justify-content-between">
                                                <li><a class="btn btn-danger" href="/user/deletecomment/{{ com.id }}"
                                                       onclick="return confirm('Eminmisiniz?')"><p style="color:red;">Sil</p></a>
                                                </li>
                                            </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        Henüz hiçbir yorum yapmadınız!
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}