{% extends "HomeBase.html" %}

{% block clean %}
    <div class="col">


        <div class="row">

            <div class="col"></div>
            <div class="col">
                <div class="fotorama col" data-nav="thumbs" data-width="600">
                    {% for  rs in images %}
                        <img src="{{ rs.image.url }}" alt="{{ rs.title }}">
                    {% endfor %}
                </div>
            </div>
            <div class="col"></div>
        </div>
        <table style="width:100%; margin-bottom: 30px">
            <tr>
                <th style="background-color: whitesmoke">Title</th>
                <th style="background-color: whitesmoke">Image</th>
                <th style="background-color: whitesmoke">Actions</th>
            </tr>
            {% for rs in images %}
                <tr>
                    <td>
                        {{ rs.title }}
                    </td>
                    <td>
                        <img src="{{ rs.image.url }}" style="height: 30px; width: auto">
                    </td>
                    <td><a class="btn btn-danger" href="/photo/gallerydelete/{{ rs.id }}"
                           onclick="return confirm('Will be delete ! Are you sure ?')">Delete</a></td>
                </tr>
            {% endfor %}
        </table>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="/photo/galleryadd/{{ id }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form.as_p }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Add Image</button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}