<div class="col-lg-3 col-12 order-2 order-lg-1 md-mt-40 sm-mt-40">
    <div class="shop__sidebar">
        <aside class="wedget__categories poroduct--cat">
            <h3 class="wedget__title">Kullanıcı Paneli</h3>
            <ul>
                <li><a href="/user/profile">Profil</a></li>
                <li><a href="/user/places">Mekanlarım</a></li>
                <li><a href="/user/comments">Yorumlarım</a></li>
                <li><a href="/logout">Çıkış</a></li>
            </ul>
        </aside>
    </div>
</div>